<% @user ||= current_user %>
<div class="page-header" style="margin: 5px">
  <a href="<%= following_user_path(@user) %>">
    关注：
    <strong id="following" class="">
      <%= @user.followed_users.count %>
    </strong>

  </a>
  <a href="<%= followers_user_path(@user) %>">
    粉丝：
    <strong id="followers" class="">
      <%= @user.followers.count %>
    </strong>

  </a>
</div>